In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
crime_df = pd.read_csv("../data/crime_2022_clean.csv")
crime_df["OCCURRED_ON_DATE"] = pd.to_datetime(crime_df["OCCURRED_ON_DATE"])
crime_df

/var/folders/q0/tp61rdx579s1pr09fjqsx_gw0000gn/T/ipykernel_74513/4167266432.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  crime_df = pd.read_csv("../data/crime_2022_clean.csv")

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,STREET,Lat,Long,Location
0,222076257,619,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,Saturday,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)"
1,222053099,2670,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,Saturday,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)"
2,222039411,3201,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,Saturday,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
3,222011090,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
4,222062685,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...
73837,232000091,1402,VANDALISM,A1,66,0,2022-12-31 23:30:00,Saturday,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)"
73838,232000002,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,Saturday,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)"
73839,232000140,619,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,Saturday,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
73840,232000315,3201,PROPERTY - LOST/ MISSING,D4,167,0,2022-12-31 23:50:00,Saturday,HARRISON AVENUE,NaN,NaN,NaN
73841,232000052,3114,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,Saturday,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)"

In [3]:
offense_codes = pd.read_csv("../data/rms_offense_codes.csv")
offense_codes

     CODE                                       NAME
0     612           LARCENY PURSE SNATCH - NO FORCE
1     613                        LARCENY SHOPLIFTING
2     615    LARCENY THEFT OF MV PARTS & ACCESSORIES
3    1731                                     INCEST
4    3111                  LICENSE PREMISE VIOLATION
..    ...                                        ...
571  1806  DRUGS - CLASS B TRAFFICKING OVER 18 GRAMS
572  1807  DRUGS - CLASS D TRAFFICKING OVER 50 GRAMS
573  1610    HUMAN TRAFFICKING - COMMERCIAL SEX ACTS
574  2010                              HOME INVASION
575  1620  HUMAN TRAFFICKING - INVOLUNTARY SERVITUDE

[576 rows x 2 columns]

In [4]:
offense_codes[offense_codes["CODE"] == 619]

     CODE                       NAME
161   619         LARCENY ALL OTHERS
312   619  LARCENY OTHER $200 & OVER

In [5]:
crime_df.isna().sum()

INCIDENT_NUMBER           0
OFFENSE_CODE              0
OFFENSE_DESCRIPTION       0
DISTRICT                171
REPORTING_AREA            0
SHOOTING                  0
OCCURRED_ON_DATE          0
DAY_OF_WEEK               0
STREET                    0
Lat                    3808
Long                   3808
Location               3808
dtype: int64

In [6]:
# Keep only records with no nan
crime_df = crime_df.dropna(how="any")
crime_df.reset_index(inplace=True, drop=True)
crime_df

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,STREET,Lat,Long,Location
0,222076257,619,LARCENY ALL OTHERS,D4,167,0,2022-01-01 00:00:00,Saturday,HARRISON AVE,42.339542,-71.069409,"(42.33954198983014, -71.06940876967543)"
1,222053099,2670,HARASSMENT/ CRIMINAL HARASSMENT,A7,,0,2022-01-01 00:00:00,Saturday,BENNINGTON ST,42.377246,-71.032597,"(42.37724638479816, -71.0325970804128)"
2,222039411,3201,PROPERTY - LOST/ MISSING,D14,778,0,2022-01-01 00:00:00,Saturday,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
3,222011090,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
4,222062685,3201,PROPERTY - LOST/ MISSING,B3,465,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,"(42.28482576580488, -71.09137368938802)"
...,...,...,...,...,...,...,...,...,...,...,...,...
69993,222101107,3111,LICENSE PREMISE VIOLATION,A1,,0,2022-12-31 23:11:00,Saturday,CAUSEWAY ST,42.365375,-71.061542,"(42.365374796420454, -71.06154161481645)"
69994,232000091,1402,VANDALISM,A1,66,0,2022-12-31 23:30:00,Saturday,CHARLES ST,42.359790,-71.070782,"(42.35979037458775, -71.07078234449541)"
69995,232000002,3831,M/V - LEAVING SCENE - PROPERTY DAMAGE,C11,,0,2022-12-31 23:37:00,Saturday,COLUMBIA RD,42.319593,-71.062607,"(42.31959298334654, -71.06260699634272)"
69996,232000140,619,LARCENY ALL OTHERS,D14,778,0,2022-12-31 23:45:00,Saturday,WASHINGTON ST,42.349056,-71.150498,"(42.34905600030506, -71.15049849975023)"
69997,232000052,3114,INVESTIGATE PROPERTY,A1,,0,2022-12-31 23:50:00,Saturday,MOUNT VERNON ST,42.357879,-71.069680,"(42.357878706878985, -71.06967973039733)"

In [7]:
# Drop redundant columns
crime_df = crime_df.drop(columns=["INCIDENT_NUMBER", "OFFENSE_DESCRIPTION", "REPORTING_AREA", "Location"])
crime_df

,OFFENSE_CODE,DISTRICT,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,STREET,Lat,Long
0,619,D4,0,2022-01-01 00:00:00,Saturday,HARRISON AVE,42.339542,-71.069409
1,2670,A7,0,2022-01-01 00:00:00,Saturday,BENNINGTON ST,42.377246,-71.032597
2,3201,D14,0,2022-01-01 00:00:00,Saturday,WASHINGTON ST,42.349056,-71.150498
3,3201,B3,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374
4,3201,B3,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374
...,...,...,...,...,...,...,...,...
69993,3111,A1,0,2022-12-31 23:11:00,Saturday,CAUSEWAY ST,42.365375,-71.061542
69994,1402,A1,0,2022-12-31 23:30:00,Saturday,CHARLES ST,42.359790,-71.070782
69995,3831,C11,0,2022-12-31 23:37:00,Saturday,COLUMBIA RD,42.319593,-71.062607
69996,619,D14,0,2022-12-31 23:45:00,Saturday,WASHINGTON ST,42.349056,-71.150498
69997,3114,A1,0,2022-12-31 23:50:00,Saturday,MOUNT VERNON ST,42.357879,-71.069680

In [8]:
# Add separate datetime columns for models
crime_df["MONTH"] = crime_df["OCCURRED_ON_DATE"].dt.month
crime_df["HOUR"] = crime_df["OCCURRED_ON_DATE"].dt.hour
crime_df

,OFFENSE_CODE,DISTRICT,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,STREET,Lat,Long,MONTH,HOUR
0,619,D4,0,2022-01-01 00:00:00,Saturday,HARRISON AVE,42.339542,-71.069409,1,0
1,2670,A7,0,2022-01-01 00:00:00,Saturday,BENNINGTON ST,42.377246,-71.032597,1,0
2,3201,D14,0,2022-01-01 00:00:00,Saturday,WASHINGTON ST,42.349056,-71.150498,1,0
3,3201,B3,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,1,0
4,3201,B3,0,2022-01-01 00:00:00,Saturday,BLUE HILL AVE,42.284826,-71.091374,1,0
...,...,...,...,...,...,...,...,...,...,...
69993,3111,A1,0,2022-12-31 23:11:00,Saturday,CAUSEWAY ST,42.365375,-71.061542,12,23
69994,1402,A1,0,2022-12-31 23:30:00,Saturday,CHARLES ST,42.359790,-71.070782,12,23
69995,3831,C11,0,2022-12-31 23:37:00,Saturday,COLUMBIA RD,42.319593,-71.062607,12,23
69996,619,D14,0,2022-12-31 23:45:00,Saturday,WASHINGTON ST,42.349056,-71.150498,12,23
69997,3114,A1,0,2022-12-31 23:50:00,Saturday,MOUNT VERNON ST,42.357879,-71.069680,12,23

In [13]:
offense_codes.nunique()

CODE    425
NAME    479
dtype: int64

## Can we accurately predict which type of crime is committed? (Crime classification task)

In [9]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

crime_df['DAY_OF_WEEK'] = label_encoder.fit_transform(crime_df['DAY_OF_WEEK'] ) 
crime_df['STREET'] = label_encoder.fit_transform(crime_df['STREET'])
# crime_df['OFFENSE_CODE_GROUP'] = label_encoder.fit_transform(crime_df['OFFENSE_CODE_GROUP'])
crime_df['DISTRICT'] = label_encoder.fit_transform(crime_df['DISTRICT'])
crime_df.head()

,OFFENSE_CODE,DISTRICT,SHOOTING,OCCURRED_ON_DATE,DAY_OF_WEEK,STREET,Lat,Long,MONTH,HOUR
0,619,8,0,2022-01-01,2,3419,42.339542,-71.069409,1,0
1,2670,2,0,2022-01-01,2,618,42.377246,-71.032597,1,0
2,3201,7,0,2022-01-01,2,6897,42.349056,-71.150498,1,0
3,3201,4,0,2022-01-01,2,732,42.284826,-71.091374,1,0
4,3201,4,0,2022-01-01,2,732,42.284826,-71.091374,1,0

In [10]:
district_labels = label_encoder.inverse_transform(crime_df["DISTRICT"])
district_labels = sorted(pd.unique(district_labels))
print(district_labels)

['A1', 'A15', 'A7', 'B2', 'B3', 'C11', 'C6', 'D14', 'D4', 'E13', 'E18', 'E5', 'External']

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = crime_df.drop(['DISTRICT'] , axis=1)
Y = crime_df.DISTRICT

X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.33, random_state=0)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

DTypePromotionError: The DType <class 'numpy.dtypes.DateTime64DType'> could not be promoted by <class 'numpy.dtypes.Float64DType'>. This means that no common DType exists for the given inputs. For example they cannot be stored in a single array unless the dtype is `object`. The full list of DTypes is: (<class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.DateTime64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Float64DType'>, <class 'numpy.dtypes.Int32DType'>, <class 'numpy.dtypes.Int32DType'>)